/* form */
body{
    background:#efefef;
}
.form-body{
    background:#fff;
    padding:20px;
}
.login-form{
    background:rgba(255,255,255,0.8);
  padding:20px;
  border-top:3px solid#3e4043;
}
.innter-form{
  padding-top:20px;
}
.final-login li{
  width:50%;
}

.nav-tabs {
    border-bottom: none !important;
}

.nav-tabs>li{
  color:#222 !important;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    color: #fff;
    background-color: #d14d42;
    border: none !important;
    border-bottom-color: transparent;
  border-radius:none !important;
}
.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.428571429;
    border: none !important;
    border-radius:none !important;
  text-transform:uppercase;
  font-size:15px;
  font-weight: bold;
}

.social-login{
  text-align:center;
  font-size:12px;
}
.social-login p{
  margin:15px 0;
}
.social-login ul{
  margin:0;
  padding:0;
  list-style-type:none;
}
.social-login ul li{
  width:33%;
  float:left;
    clear:fix;
}
.social-login ul li a{
  font-size:13px;
  color:#fff;
  text-decoration:none;
  padding:10px 0;
  display:block;
}
.social-login ul li:nth-child(1) a{
  background:#3b5998;
}
.social-login ul li:nth-child(2) a{
  background:#e74c3d;
}
.social-login ul li:nth-child(3) a{
  background:#3698d9;
}
input[type=text],input[type=email], input[type=password], input[type=file], textarea, select, email{
    font-size:13px;
  padding:10px;
  border:1px solid#ccc;
  outline:none;
  width:100%;
  margin:8px 0;
  
}
.sa-innate-form input[type=submit]{
    border:1px solid#e64b3b;
  background:#e64b3b;
  color:#fff;
  padding:10px 25px;
  font-size:14px;
  margin-top:5px;
  }
  .sa-innate-form input[type=submit]:hover{
  border:1px solid#db3b2b;
  background:#db3b2b;
  color:#fff;
  }
  
  .sa-innate-form button{
  border:1px solid#e64b3b;
  background:#e64b3b;
  color:#fff;
  padding:10px 25px;
  font-size:14px;
  margin-top:5px;
  }
  .sa-innate-form button:hover{
  border:1px solid#db3b2b;
  background:#db3b2b;
  color:#fff;
  }
    .sa-innate-form p{
        font-size:13px;
        padding-top:10px;
    }

.pointer{
  cursor: pointer;
}

input.ng-invalid, input.ng-invalid-required, input.ng-invalid-email{
  border-color: #f51100;
}
input.ng-valid{
  border-color: #4CAF50;
}
input.ng-pristine{
  border-color: #CCCCCC;
}
.shadow {
  -webkit-box-shadow: 5px 5px 20px 5px #a9a3a3;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    5px 5px 20px 5px #a9a3a3;  /* Firefox 3.5 - 3.6 */
  box-shadow:         5px 5px 20px 5px #a9a3a3;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}
.formGuide {
	display: inline-block;
	position: absolute;
	background: #d14d42;
	padding: 15px;
	left: 94%;
	color:#FFFFFF;
	width: fit-content;
	/*visibility: hidden;*/
}
.formGuide:after {
	content: '';
	display: block;  
	position: absolute;
	right: 100%;
	top: 50%;
	margin-top: -10px;
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-right: 10px solid #d14d42;
	border-bottom: 10px solid transparent;
	border-left: 10px solid transparent;
}
.formGuide.nameTop{
	top:19%;
}
.formGuide.emailTop{
	top:33%;
}
.formGuide.passwordTop{
	top : 50%;
}