<form class="sa-innate-form" name="forgotPassFrom" ng-submit="resendPassword(forgotPassFrom)" >
    <label>Enter Your Email</label>
    <input type="email"  name="email" ng-model="user.email"  required="required" placeholder="email">
    <p ng-if="emailValid" class="text-success" ><b>New password has been sent to your email. You can sign-in with that password now. You can change that password anytime you wish after you log-in.</b></p>
    <p ng-if="emailInvalid" class="text-danger" ><b>The email is not registered with us. Enter the email which you gave when joining.</b></p>
    <button type="submit" class="btn" ng-disabled="forgotPassFrom.$invalid" >Reset Password</button>
</form>