<form class="sa-innate-form" name="joinForm" ng-submit="joinUser(joinForm)" ng-controller="joinController">
    <label>Name</label>
    <input type="text" name="name" ng-model="user.name" ng-focus="nameHelp=true" ng-blur="nameHelp=false" ng-minlength="2" placeholder="name" required="required">
    <div class="formGuide nameTop" ng-if="nameHelp" >
    	<p>Enter Your Name</p>
    </div>
    <label>Email Address</label>
    <input type="email" name="email" ng-model="user.email" ng-focus="emailHelp=true" ng-blur="emailHelp=false;checkEmail(joinForm.email)" placeholder="email" required="required">
    <div class="formGuide emailTop" ng-if="emailHelp" >
    	<p>Enter Valid Email</p>
    </div>
    <div class="formGuide emailTop" ng-if="emailValidateHelp" >
    	<p ng-if="emailCheckResult">Email Already Registered</p>
    	<p ng-if="!emailCheckResult">Checking email...</p>
    </div>
    <label>Password</label>
    <input type="password" name="password" ng-model="user.password" ng-focus="passwordHelp=true" ng-blur="passwordHelp=false" ng-minlength="8" placeholder="password" required="required">
    <div class="formGuide passwordTop" ng-if="passwordHelp" >
    	<p>Minimum 8 to Maximum 16 charectors</p>
    </div>
    <button type="submit" class="btn" ng-disabled="joinForm.$invalid">Join now</button>
    <p>By clicking Join now, you agree to hifriends's User Agreement, Privacy Policy, and Cookie Policy.</p>
</form>

